p{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

h1{
font-size: 60px;
}

h6{
  text-align: left;
}

form {
	width: 500px;
	margin: 0 auto;
  text-align: center;
}

#contest{
  background-color: #ff4c68;
  padding: 5px;
}

.image1{
  /* margin:75px auto 75px auto; */
  width: 430px;
  height: 500px;
  background-color: #ff4c68;
  border-radius: 100%;
  margin:4%;
  padding: 2px;
  /* position: absolute; */
}
.content{
  text-align: center;
  margin-top: 3%;
  /* color: #0493F0; */
}
.btn{
  margin:10px;
}

.file{
  margin: 10px;
  padding-bottom: 20px;
}
